<div class="container">
  <div class="row">
    <div class="offset-md-2 col-md-4">
    <h4>商品一覧</h4>
    </div>
    <div class="¥col-md-4 offset-md-2">
      <%= link_to "+", new_admin_item_path, class: "btn btn-light rounded-circle p-0", style: "width:2rem;height:2rem;" %>
    </div>
    <div class="offset-md-2 col-md-8 offset-md-2">
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <% if item.is_active == true %>
                <td>販売中</td>
              <% else %>
                <td>販売停止中</td>
              <% end %>
            </tr>
          <% end %>
        </thead>
      </table>
      <%= paginate @items %>
    </div>
  </div>
</div>